main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  width: 300px;
  z-index: 10;
  position: absolute;
}

#title {
  padding-bottom: 30px;
}

#editor {
  flex: 0 1 50%;
  padding-bottom: 30px;
  font-family: monospace;
  font-size: 1.1rem;
}

#editor.compile-error {
  background-color: hsl(0,100%,90%);
}

#diagram {
  flex: 1 0 auto;
}

#templates {
  display: none;
}

#new-diagram {
  margin: 20px;
}

#saved-diagrams {
}

.saved-diagram {
  display: flex;
  justify-content: space-between;
}
